name: Daily Game Generator

on:
  schedule:
    # - cron: '30 11 * * *' 5:00 PM
    - cron: '30 4 * * *' 
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run Game Generation
        run: npx tsx index.ts --run-now
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}

      - name: Push Updated JSON
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add data/games.json
          git commit -m "System: Auto-updated games.json" || exit 0
          git push